<div class="function_container">
    <ul>
        <li>
            <a href="./userHomePage">
                <span class="material-symbols-outlined">edit_square</span>
                <p>My Article</p>
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-symbols-outlined">local_fire_department</span>
                <p>Trending</p>
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-symbols-outlined">heart_plus</span>
                <p>Favorites</p>
            </a>
        </li>
        <li>
            <a href="./subscription">
                <span class="material-symbols-outlined">subscriptions</span>
                <p>Subscription</p>
            </a>
        </li>
    </ul>
</div>