<div class="function_container">
    <ul>
        <li>
            <a href="../userHomePage">
                <span class="material-symbols-outlined">edit_square</span>
                <p>My Article</p>
            </a>
        </li>
        <li>
            <a href="../analytics">
                <span class="material-symbols-outlined">
                    insights
                </span>
                <p>Insights</p>
            </a>
        </li>
        <li>
            <a href="../favorite">
                <span class="material-symbols-outlined">heart_plus</span>
                <p>Favorites</p>
            </a>
        </li>
        <li>
            <a href="../subscription">
                <span class="material-symbols-outlined">subscriptions</span>
                <p>Subscription</p>
            </a>
        </li>
    </ul>
</div>