<body>
    <div class="nav">

        <div class="left left_login">
            Purple
        </div>

        <div class="mid mid_login">
            <a href="./">
                <span class="material-symbols-outlined home_icon">
                    home
                </span>
            </a>
        </div>

        <div class="right right_login">
            <div class="user">
                <span class="material-symbols-outlined notice_icon">
                    circle_notifications
                </span>
                {{!-- Turn to user page when click the avatar --}}
                <a href="./userHomePage" id="avatar_link">
                    <img src="{{avatar}}" class="avatar">
                </a>
            </div>

            <a href="./setting" class="setting_a">
                <span class="material-symbols-outlined setting_icon">
                    settings
                </span>
                <span>Setting</span>
            </a>

            <a href="./logout" class="logout_a">
                <span class="material-symbols-outlined logout_icon">
                    logout
                </span>
                <span>Log out</span>
            </a>
        </div>


    </div>

</body>