<body>
    <div class="nav">
        <div class="left">
            Purple
            <div class="underline"></div>
        </div>
        <div class="mid">
            <a href="./">
                <span class="material-symbols-outlined home_icon">
                    home
                </span>
            </a>
        </div>
        <span class="right">
            <a href="./login" class="login_link">
                <span class="material-symbols-outlined login_icon">
                    login
                </span>
                <span>Log in</span>
            </a>
            <a href="./register" class="register_a">
                <span>Register</span>
            </a>
    </div>

</body>