<link rel="stylesheet" href="/css/nav_bar.css">
<link rel="stylesheet" href="/css/userpage.css">
<link rel="stylesheet" href="/css/notice_number.css">
<link rel="stylesheet" href="/css/notice_detail.css">
<link rel="stylesheet" href="/css/function.css">
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/favorite.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{{!-- Add js --}}
<script src="/js/articleLike.js"></script>

<body>

    {{> nav_bar_login}}

    {{#if notification}}
    {{> notice_detail}}
    {{/if}}

    <div class="main">

        {{> function}}

        <div class="container">
            <h1>Favorite Articles</h1>
            {{#if articles}}
            <ul name="articleUL">
                {{#each articles}}
                <li>
                    {{> article}}
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p id="noMatchLike">No matching articles</p>
            {{/if}}
        </div>
</body>