<h1>Welcome to the our website!</h1>

<a href="./login">Click here to Login in</a>
<a href="./signin">Click here to signin in</a>

<h1>My stuff:</h1>
<ul>
    {{#each allTestData}}
    <li>{{this.stuff}}</li>
    {{/each}}
</ul>



<h1>A dragon:</h1>
<img src="./images/Dragonite.png">