<link rel="stylesheet" href="/css/login.css">

<body>
    <div class="container">
        {{! Display a toast message if one was provided. }}
        {{#if toastMessage}}
        <span>{{toastMessage}}</span>
        {{/if}}

        <div>
            <h2>Log in</h2>
        </div>
        <form action="./userHomePage" method="POST">
            <div class="username_container">
                <label for="txtUsername">Username:</label><br>
                <input type="text" name="username" id="txtUsername" required>
            </div>

            <div class="password_container">
                <label for="txtPassword">Password:</label><br>
                <input type="password" name="password" id="txtPassword" required>
            </div>

            <div class="login_container">
                <button type="submit">Log in</button>
            </div>

            <div class="turnTo">
                <a href="./register">Register here</a>
                <a href="./">Back</a>
            </div>

        </form>
    </div>
</body>