<div class="container">

    {{! Display a toast message if one was provided. }}
    {{#if toastMessage}}
    <p>{{toastMessage}}</p>
    {{/if}}

    <h1>Sign up</h1>
    <form action="./login" method="POST">
      <label for="avatar">Choose an Avatar:</label>
      <select id="avatar" name="avatar">
        <option value="bear">bear</option>
        <option value="dragon">dragon</option>
        <option value="people">people</option>
        <!-- 添加更多选项，每个选项的值对应相应的头像图标 -->
      </select>
      <img src="../public/images/bear.png" alt="" width="50px" />
      <br />

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />

      <label for="confirm_password">Confirm Password:</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        required
      /><br />

      <label for="realname">Real Name:</label>
      <input type="text" id="realname" name="realname" required /><br />

      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" required /><br />

      <label for="description">Description:</label><br />
      <textarea
        id="description"
        name="description"
        rows="4"
        cols="50"
      ></textarea
      ><br />

      <input type="submit" value="Sign Up" />
    </form>
</div>