<head>
     <script src="./js/register.js"></script>
</head>

<div class="container">
    <a href="./">Click here back to home page</a>
    {{! Display a toast message if one was provided. }}
    {{#if toastMessage}}
        <p>{{toastMessage}}</p>
    {{/if}}

    <h1>Sign up</h1>
    <form action="./signupMessage" method="POST">
        <label for="avatar">Choose your Avatar:</label>
        <select id="selectAvatar" name="avatar">
            <option value="cat">Cat</option>
            <option value="bear">Bear</option>
            <option value="dragon">Dragon</option>
            <option value="alien">Alien</option>
            <option value="human">Human</option>
        </select>
        <br/>
        
        <div class="warningUsernameArea">
        </div>
        <label for="textUsername">Username:</label>
        <input type="text" id="textUsername" name="username" required>
        <br/>

        <label for="textPassword">Password:</label>
        <input type="password" id="textPassword" name="password" required>
        <br/>

        <label for="textConfirmPassword">Confirm Password:</label>
        <input type="password" id="textConfirmPassword" name="confirmPassword" required>
        <br/>

        <p>Please improve your profile below</p>
        <label for="textLastName">Last Name:</label>
        <input type="text" id="textLastName" name="lastName" required>

        <label for="textFirstName">First Name:</label>
        <input type="text" id="textFirstName" name="firstName" required>
        <br/>

        <label for="textBirth">Date of Birth:</label>
        <input type="date" id="textBirth" name="birth" required>
        <br/>

        <label for="description">Description:</label>
        <br/>
        <textarea id="textDescription" name="description" rows="4" cols="50"></textarea>
        <br/>

        <button type="submit" id="signUpButton">Sign up</button>
    </form>
</div>