<link rel="stylesheet" href="/css/register.css">
<script src="./js/register.js"></script>

<body>

    <div class="container">
        {{! Display a toast message if one was provided. }}
        {{#if toastMessage}}
        <span class="toastMessage">{{toastMessage}}</span>
        {{/if}}

        <h2>Sign up</h2>
        <form action="./signupMessage" method="POST">
            <label for="avatar">Choose your Avatar:</label>
            <select id="selectAvatar" name="avatar" class="selectAvatar">
                <option value="/images/cat.png" class="avatar">Cat</option>
                <option value="/images/bird.png" class="avatar">Bird</option>
                <option value="/images/deer.png" class="avatar">Deer</option>
            </select>
            <img src="/images/cat.png" id="avatarImage" width="50px">
            <br /> <br>

            <div class="warningUsernameArea">
            </div>
            <label for="textUsername">Username:</label>
            <input type="text" id="textUsername" name="username" maxlength="32" required>
            <br />

            <label for="textPassword">Password:</label>
            <input type="password" id="textPassword" name="password" maxlength="32" required>
            <br />

            <div class="warningLegalPasswordArea">
            </div>
            <label for="textConfirmPassword">Confirm Password:</label>
            <input type="password" id="textConfirmPassword" name="confirmPassword" maxlength="32" required>
            <br />
            <label for="textLastName">Last Name:</label>
            <input type="text" id="textLastName" name="lastName" maxlength="32" required>

            <label for="textFirstName">First Name:</label>
            <input type="text" id="textFirstName" name="firstName" maxlength="32" required>
            <br />

            <label for="textBirth">Date of Birth:</label>
            <input type="date" id="textBirth" name="birth" required>
            <br />

            <label for="description">Description:</label>
            <br />
            <textarea id="textDescription" name="description" rows="4" cols="50" maxlength="64"></textarea>
            <br />

            <button type="submit" id="signUpButton">Sign up</button>
        </form>

        <div class="back">
            <a href="./">Back</a>
        </div>

    </div>

</body>