<link rel="stylesheet" href="/css/register.css">

<body>

    <div class="container">
        {{! Display a toast message if one was provided. }}
        {{#if toastMessage}}
        <span>{{toastMessage}}</span>
        {{/if}}

        <h2>Sign up</h2>
        <form action="./signupMessage" method="POST">
            <label for="avatar">Choose your Avatar:</label>
            <select id="selectAvatar" name="avatar">
                <option value="/images/cat.png">Cat</option>
                <option value="/images/bird.png">Bird</option>
                <option value="/images/deer.png">Deer</option>
            </select>
            <br /> <br>

            <label for="textUsername">Username:</label>
            <input type="text" id="textUsername" name="username" required>
            <br />

            <label for="textPassword">Password:</label>
            <input type="password" id="textPassword" name="password" required>
            <br />

            <label for="textConfirmPassword">Confirm Password:</label>
            <input type="password" id="textConfirmPassword" name="confirmPassword" required>
            <br />
            <label for="textLastName">Last Name:</label>
            <input type="text" id="textLastName" name="lastName" required>

            <label for="textFirstName">First Name:</label>
            <input type="text" id="textFirstName" name="firstName" required>
            <br />

            <label for="textBirth">Date of Birth:</label>
            <input type="date" id="textBirth" name="birth" required>
            <br />

            <label for="description">Description:</label>
            <br />
            <textarea id="textDescription" name="description" rows="4" cols="50"></textarea>
            <br />

            <button type="submit" id="signUpButton">Sign up</button>
        </form>

        <div class="back">
            <a href="./">Back</a>
        </div>

    </div>

</body>