<link rel="stylesheet" href="/css/nav_bar.css">
<link rel="stylesheet" href="/css/userpage.css">
<link rel="stylesheet" href="/css/notice_number.css">
<link rel="stylesheet" href="/css/notice_detail.css">
<link rel="stylesheet" href="/css/function.css">
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/sort.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<script src="/js/sortUserPage.js"></script>

<body>

    {{> nav_bar_login}}

    {{#if notification}}
    {{> notice_detail}}
    {{/if}}

    <div class="main">

        {{> function}}

        <div class="container">
            <h1>My Space</h1>

            <div class="sort_container">
                <span>Sort by </span>
                <select name="sortBy" id="mySelect">
                    <option value="./resetSort">Default</option>
                    <option value="./sortByTitle">Title</option>
                    <option value="./sortByDate">Time</option>
                </select>
            </div>

            <form action="./newArticle" method="POST" id="createForm">
                <input type="hidden" id="new" name="new" value="new">
                <button type="submit" id="createNew">
                    <span class="material-symbols-outlined">
                        edit_square
                    </span>
                    <span>Create a new article!</span>
                </button>
            </form>


            {{#if articles}}
            <ul name="articleUL">
                {{#each articles}}
                <li>
                    {{> article}}
                    <div class="author_button">
                        <form action="./editArticle" method="POST">
                            <input type="hidden" id="edit" name="edit" value="{{this.id}}">
                            <button type="submit">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                                Edit
                            </button>
                        </form>
                        <form action="./deleteArticle" method="POST">
                            <input type="hidden" id="delete" name="delete" value="{{this.id}}">
                            <button type="submit">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                                Delete
                            </button>
                        </form>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p>No matching articles</p>
            {{/if}}

        </div>


</body>