#noImage {
    padding-top: 20px;
}

.edit_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.edit_container form {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: nowrap;
}

#sep {
    height: 10px;
    margin: 10px 0;
}

#submit_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    margin: 10px 0;
    background-color: rgb(110, 8, 229);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#submit_btn:hover {
    background-color: rgb(94, 4, 197);
    transition: background-color .5s;
}