.container {
    background-color: white;
}

.container h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 50px;
}

#noMatchLike {
    margin-top: 20px;
    margin-left: 40px;
}

@media only screen and (max-width: 650px) {
    .container h1 {
        font-size: 30px;
    }
}