.notice_icon_container {
    position: relative;
    margin-top: 8px;
}

.message_number {
    position: absolute;
    top: 0;
    right: 15%;
    height: 22px;
    text-align: center;
    line-height: 22px;
    color: white;
    background-color: red;
    border-radius: 4px;
    z-index: 2;
    cursor: default;
}