body {
    background-color: rgb(236, 239, 243);
    box-sizing: border-box;
}

.main {
    color: black;
}

.container {
    width: 65%;
    margin: auto;
    color: black;
    background-color: white;
}